.caixa{
    background-color: #ff006a;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}
.fundo{
    background-color: rgb(255, 180, 211);
    margin-bottom: 300px;
}

.img{
    border-radius: 0px; 
    width: 400px;
    height: 194px;
}

.Gridimg{
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 140px;
}
